.idea
.ipynb_checkpoints
__pycache__
Playground.ipynb
nohup.out
.pytest_cache
test/.pytest_cache
dask-worker-space/*
*.ipynb
secretgc_ip.json
*.csv
./cachedir
/cachedir/
secretgc_ip.json
/test/
/.test/
/Simulations/cachedir/
/Plots/
/Plots/.ipynb_checkpoints/
/Plots_article/
/plots/
